[submodule "import/json"]
	path = import/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "import/wtl"]
	path = import/wtl
	url = https://git.code.sf.net/p/wtl/git
	branch = master
