[submodule "import/json"]
	path = import/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "import/wtl"]
	path = import/wtl
	url = https://git.code.sf.net/p/wtl/git
	branch = master


[submodule "import/spdlog"]
	path = import/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "lib/libstdx"]
	path = lib/libstdx
	url = https://github.com/Jan-3007/libstdx.git
	branch = main
